<!doctype html>
<html lang="en" ng-app="eriApp">
  <head>
    <meta charset="utf-8">
    <title>Eri's Website</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-animate.js"></script>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inder">
    <link rel="stylesheet" href="app/css/styles.css">

    <script src="app/js/app.js"></script>
    <script src="app/js/controllers/mainCtrl.js"></script>
    <base href="/">
  </head>
  <body ng-controller="MainCtrl">
    <div id="header-bar">
      <div id="title">
         <!-- https://eripheebs.github.io/app/css/images/logo_temp.js -->
        <img src="/logo_temp.jpg" />
        <h1>{{title}}</h1>
      </div>
    </div>

  <div id="wrapper">
    <div id="template" ng-include="template.url"></div>
  </div>

    <div id="menu">
      <ul ng-repeat="template in templates">
        <li><a href ng-click="changeTemplate(template.name)" id="template.name-menu">{{template.name}}</a></li>
      </ul>
    </div>

  </body>
</html>
