* {
    box-sizing: border-box;
}
body{
  /*background-color: black;*/
  background: url("images/3.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  body{
  background: url("images/3-phone.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}

@media only screen and (orientation: landscape){
  body{
  background: url("images/3.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}

.header {
    position:fixed;
    bottom: 0;
    right: 0;
    padding-left: 5%;
    font-family: Inder;
    font-size: 90%;
    letter-spacing: 20px;
    text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    [class*="col-"] {
      float: left;
      /*border: 1px solid red;*/
    }
}

#menu-hr{
  display: inline-block;
  position: absolute;
  float:left;
  border: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 768px) {
  #menu-hr{
    height: 0;
  }
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu ul button {
  text-decoration: none;
  font-family: Inder;
  font-size: 90%;
  letter-spacing: 7px;
  text-transform: uppercase;
}

#menu button {
    border: none;
    padding: 8px;
    margin-bottom: 7px;
    background-color :#353F42;
    background-image: url("images/bg.jpg");
    color: #ffffff;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

#menu ul li button:visited {
  color: #f0eceb;
}

#menu ul li button:hover {
  background-image: url("images/bg5.jpg");
}

#menu ul li button:active {
  color: #b56e1d;
  border: none;
}

#menu ul li button:focus {outline:0;}

#blog-menu {
  text-align: left;
  width: 80.66%;
}

#home-menu {
  text-align: left;
  width: 41.66%;
}

/*#style-box-1 {
  position:absolute;
  width: 10px;
  height: 20%;
  top: 15%;
  left: 10%;
  background-color: rgba(53,63,66, 0.3);
}

#style-box-2 {
  position:absolute;
  width: 10px;
  height: 20%;
  top: 24%;
  left: 20%;
  background-color: rgba(53,63,66, 0.3);
}

#style-box-3 {
  position:absolute;
  width: 10px;
  height: 20%;
  top: 24%;
  left: 5%;
  background-color: rgba(53,63,66, 0.3);
}

#style-box-4 {
  position:absolute;
  width: 10px;
  height: 50%;
  top: 10%;
  left: 12%;
  background-color: rgba(53,63,66, 0.1);
}*/

#portfolio-menu {
  position: relative;
  left: 30%;
  width: 70%;
  text-align: right;
}

#cv-menu {
  position: relative;
  left: 40%;
  width: 60%;
  text-align: right;
}

h1 {
  font-family: Voltaire;
  text-rendering: optimizeLegibility;
  font-size: 500%;
  margin-bottom: 0;
    /*color: #2c2c2c;
    letter-spacing: 20px;
    text-shadow:
      4px 4px 0px #fff,
      7px 7px 0px rgba(0, 0, 0, 0.2);*/
}

@media only screen and (max-width: 768px) {
  h1{
    font-size: 300%;
  }
}

#logo {
  width: 100px;
  position: relative;
  padding-right: 20px;
}

.header {
  -webkit-text-fill-color: transparent;
   background: -webkit-linear-gradient(transparent, transparent),
               url(images/bg4.jpg) repeat;
   background: -o-linear-gradient(transparent, transparent);
   -webkit-background-clip: text;
}

.header hr {
  width: 170%;
  position: relative;
  margin-bottom: 5%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0));
}

#content-container {
  height:80vh;
  /*overflow: hidden;*/
  position: relative;
  text-align: center;
}

#up {
  display: inline-block;
  margin-top: 4%;
  margin-bottom: 0;

}

#down {
  display: inline-block;
  position: relative;
  top: 83%;
  /*right: 7%;*/
}

#template {
  position:absolute;
  margin: 0% 15% 15% 15%;
  font-family: Inder;
  font-size: 20px;
  color: #f0eceb;
  text-align: justify;
  height: 75%;
  overflow: hidden;
}

#template a{
  text-decoration: none;
  color: #708f97;
}
#template a:visited {
  color: ##708f97;
}

#template a:active {
  color: #b56e1d;
}
