* {
    box-sizing: border-box;
}
body{
  background-color: #FCFFFC;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    [class*="col-"] {
      float: left;
      /*border: 1px solid red;*/
    }
}

#menu {
  padding-top: 3%;
  padding-right: 2%;
  position:fixed;
  top: 0;
  right: 0;
  text-align: center;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu ul button {
  text-decoration: none;
  font-family: Inder;
  font-size: 130%;
  letter-spacing: 7px;
  text-transform: uppercase;
  width: 100%;
}

#menu button {
    border: none;
    padding: 8px;
    margin-bottom: 7px;
    background-color: #c43235;
    color: #ffffff;
    text-align: right;
}

#menu ul li button:visited {
  color: #f0eceb;
}

#menu ul li button:hover {
  /*background: url("images/rpt.png");*/
  background-color: #16174f;
  color: #3b3a36;
}

#menu ul li button:active {
  color: #b56e1d;
  border: none;
}

#menu ul li button:focus {outline:0;}

#erika {
  font-family: Nixie One;
  text-rendering: optimizeLegibility;
  font-size:200%;
  margin-bottom: 0;
  color: #3b3a36;
}

@media only screen and (max-width: 768px) {
  #erika{
    font-size: 200%;
  }
}

#typed-cursor{
  font-size:200%;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#content-container {
  position: relative;
}

#template {
  padding: 10%;
  font-family: Work Sans;
  font-size: 14px;
  color: #3b3a36;
  text-align: left;
}

#template a{
  text-decoration: none;
  color: #99bbff;
}
#template a:visited {
  color: ##708f97;
}

#template a:active {
  color: #b56e1d;
}

#template img {
  height: 30%;
  vertical-align: middle;
  margin: 3%;
}

#template img:hover {
  -webkit-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
}

@media only screen and (max-width: 768px) {
  #menu{
    background-color: #FBFBFB;
  }
  #content-container{
    margin-top: 30%;
  }
}

@media only screen and (max-width: 600px) {
  #menu{
    background-color: #FBFBFB;
  }
  #content-container{
    margin-top: 30%;
  }
}

table{
  width: 100%;
}

table, th, td {
    border: 1px solid #3b3a36;
    border-collapse: collapse;
    font-size: 14px;
}
th, td {
    padding: 1%;
    text-align: left;
}

#homepic {
  position: fixed;
  bottom: 0;
  left: 0;
  height:80%;
  width: 70%;
}

#homeback {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/bgrd.jpg");
  background-size: 100%;
}

#curtain{
  position: fixed;
  top: 0;
  left: 20%;
  background-color: #FCFFFC;
  height: 100%;
  width: 20%;
}

#curtain2{
  position: fixed;
  top: 0;
  left: 70%;
  background-color: #FCFFFC;
  height: 100%;
  width: 27%;
}

#intro{
  position: fixed;
  bottom: 15%;
  right: 10%;
  background-color: #f6f1ed;
  height: 50%;
  width: 60%;
  padding: 5%;
  font-family: Work Sans;
  font-size: 12px;
  color: #97743a;
}

#intro > div {
  vertical-align: top;
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  text-align: justify;
}

#welcome{
  width: 35%;
  height: 100%;
  overflow: auto;
}

#welcome span{
  text-decoration: none;
  color: #16174f
}

#welcome span:hover {
  color: #963019;
}

#checkout a{
  text-decoration: none;
  color: #16174f
}

#checkout a:hover {
  color: #963019;
}

#checkout span{
  text-decoration: none;
  color: #16174f
}

#checkout span:hover {
  color: #963019;
}

#checkout{
  width: 35%;
}

@media only screen and (max-width: 768px) {
  #curtain{
    width: 0;
  }
  #curtain2{
    width: 0;
  }
  #intro{
    top: 45%;
    width: 80%;
    left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #curtain{
    width: 0;
  }
  #curtain2{
    width: 0;
  }
  #intro{
    top: 45%;
    width: 80%;
    left: 10%;
  }
}
