<h2>CV</h2>
<hr>
<a href="https://github.com/eripheebs" target="_blank">Github</a>|<a href="mailto:erikapheby@gmail.com">Mail</a>|<a href="https://www.linkedin.com/in/erika-pheby-bb3a0865" target="_blank">LinkedIn</a><br>

Junior software developer based in London. Recent Philosophy and Psychology graduate from the University of Oxford. Studied programming at Makers Academy and became passionate about object-oriented design and clean, modular, test-driven code. Seeking an entry-level developer role with extensive learning opportunities and preferably at a company that provides really good snacks. I'm a neuroscience and artificial intelligence buff and am keen to learn more about and potentially work in the latter field.
<br>

<h2>Code Examples</h2>
<table>
  <tr>
    <th>Project Name</th>
    <th>Description</th>
    <th>Technologies</th>
    <th>Testing</th>
  </tr>
  <tr>
    <td><a href="https://github.com/eripheebs/playfest" target="_blank">playfest</a></td>
    <td>A phone app with a decoupled architecture that turns photos of festival posters into Spotify playlists using optical character recognition software. Built in ten days for Makers Academy final project.</td>
    <td>Javascript, Express, Node.js, Ionic</td>
    <td>Karma, Mocha, Protractor</td>
  </tr>
  <tr>
    <td><a href="https://github.com/eripheebs/apptivist" target="_blank">apptivist</a></td>
    <td>A web app designed for activists to organise events on. Built in 3 days during a Makers hackathon.</td>
    <td>Javascript, Express, Node.js, AngularJS, PostgreSQL</td>
    <td>Karma, Mocha, Protractor</td>
  </tr>
  <tr>
    <td><a href="https://github.com/eripheebs/git-hired" target="_blank">git-hired</a></td>
    <td>A one page app that searches and displays github users. Made in one day to practice angular.</td>
    <td>Javascript, AngularJS</td>
    <td>Karma, Protractor</td>
  </tr>
  <tr>
    <td><a href="https://github.com/eripheebs/makers_bnb" target="_blank">makers_bnb</a></td>
    <td>A web app made in 4 days and designed after Airbnb to practice CRUD, users and managing edge cases.</td>
    <td>Ruby, Sinatra, PostgreSQL</td>
    <td>Rspec, Capybara</td>
  </tr>
</table>
<br>
<h2>Skills</h2>
<h3>Full Stack Team Developer</h3>
<ul>
  <li>Developed fully tested apps using different stacks including MEAN, RubyOnRails, and Ruby on Sinatra.</li>
  <li>Practices agile development: stand-ups, pairing, retrospectives, Waffle board, git flow.</li>
  <li>Good understanding of OOP principles such as SOLID and DRY.</li>
  <li>Practices extreme programming.</li>
  <li>TDD queen.</li>
</ul>
<h3>Leadership</h3>
<ul>
  <li>Elected president of the JCR (junior common room, the undergraduate student body) at Corpus Christi College, Oxford (2013-2014), representing student interests (for example, negotiating student rent) as well as running new initiatives to improve the general welfare for members of the JCR. Sat on several governing committees.</li>
  <li>President of the Oxford University Psychology Society (2013-2014), hosting speaker, career and social events for members affiliated with the university.</li>
  <li>Head of marketing and sales for Corpus Christi's 2014 ball with 650-attendees.</li>
</ul>
<h3>Volunteer</h3>
<ul>
  <li>Tutored for the Hong Kong Family Welfare Society and Rotary Tutoring, in both cases teaching English to underprivileged children from 4-10 years of age. Lessons were mostly in Mandarin. In addition, I worked for the HK Family Welfare Society's volunteering group, social work club. </li>
  <li>Organised an Environment Week with fellow students at Corpus Christi College with talks, a film screening, a charity dinner and an environmental fair.</li>
  <li>Dog walker at the Hong Kong Dog Rescue.</li>
</ul>
<h2>Education</h2>
<h3>Makers Academy (Feb 2016-May 2016)</h3>
<ul>
  <li>Makers Academy is an intensive 16-week software development course with a focus on object-oriented programming and test driven development. </li>
</ul>
<h3>Corpus Christi College, Oxford (2012-2015)</h3>
<ul>
  <li>BA Philosophy and Psychology (2:1)</li>
</ul>
<h2>Interests</h2>
<ul>
  <li>Hiking, netball, artificial intelligence, theatre, environmental issues, literature, photography, fitness, rock climbing, food, games (like werewolves!).</li>
</ul>
